<%
  var title = page.title;
  if (is_archive()){
    title = 'Archives';
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
%>
<head>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <!-- Meta data -->
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="baidu-site-verification" content="teMXKvOcC9">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="<%- config.title %>">
  <meta name="author" content="<%- config.author %>">
  <meta name="description" content="<%- config.description %>">
  <meta name="keywords" content="<%- config.keywords %>">
  <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
  <meta name="Copyright" content="yangzj1992"/>
  <meta name="Contact" content="yangzj1992@qq.com"/>

  <!-- Favicon, (keep icon in root folder) -->
  <link rel="Shortcut Icon" href="<%- config.root %>img/favicon.ico" type="image/ico">

  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" href="<%- config.root %>css/all.css" media="screen" type="text/css">
	<% if (theme.highlightjs) { %>
  <link rel="stylesheet" href="<%- config.root %>highlightjs/<%- theme.highlightjs %>.css" type="text/css">
  <% } %>
  <link rel="apple-touch-icon" href="<%- config.root %>img/favicon.ico"> 
  <!-- Custom stylesheet, (add custom styles here, always load last) -->
  <!-- Load our stylesheet for IE8 -->
  <!--[if IE 8]>
  <link rel="stylesheet" type="text/css" href="<%- config.root %>css/ie8.css" />
  <![endif]-->

  <!-- Google Webfonts (Monserrat 400/700, Open Sans 400/600) -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">

  <!-- Load our fonts individually if IE8+, to avoid faux bold & italic rendering -->
  <!--[if IE]>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <![endif]-->

  <!-- jQuery | Load our jQuery, with an alternative source fallback to a local version if request is unavailable -->
  <script src="<%- config.root %>js/lib/jquery-1.11.1.min.js"></script>
  <!-- Load these in the <head> for quicker IE8+ load times -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="<%- config.root %>js/lib/html5shiv.min.js"></script>
  <script src="<%- config.root %>js/lib/respond.min.js"></script>
  <![endif]-->
  <% if (config.rss) { %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- config.rss %>">
  <% } %>
  <% if (config.feed && config.feed.type == 'atom') { %>
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="<%- config.feed.path %>">
  <% } %>
  <% if (config.feed && config.feed.type == 'rss') { %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- config.feed.path %>">
  <% } %>
</head>
