<!-- ============================ Content =========================== -->
<!-- Height spacing helper -->
<div class="heightblock"></div>
<!-- // End height spacing helper -->
<section id="intro" class="index-context">
    <div class="container">
        <% page.posts.each(function(post) { %>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 opening-statement">
                <h3 class="index-title"><a class="title" href="<%- config.root %><%- post.path %>"><%- post.title %></a></h3>
                <p>
                  <% if (post.excerpt){ %>
                    <%- post.excerpt %>
                  <% } else { %>
                    <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>
                  <% } %>
                </p>
                <% if (theme.excerpt_link) { %>
                <span>
                    <%- partial('post/meta', {post: post}) %>
                </span>
                <p class="pull-right readMore">
                    <a href="<%- config.root %><%- post.path %>"><%= theme.excerpt_link %>...</a>
                </p>
                <% } %>
                <div class="clearfix"></div>
                <hr class="nogutter">
            </div>
        </div>
        <% }); %>
        <nav class="pagination" role="pagination">
          <% if (page.prev) { %><a class="pull-left" href="<%- url_for(page.prev_link) %>">← Newer Posts</a><% } %>
          <% if (page.next) { %><a class="pull-right" href="<%- url_for(page.next_link) %>">Older Posts →</a><% } %>
        </nav>
    </div>
</section>
<section id="statement">
    <div class="container text-center wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
            <p><%- theme.bottom_saying %></p>
        </div>
    </div>
</section>
<script>
  var disqusShortName = "<%= theme.disqus_shortname %>"; // 替换为你 Disqus 的 shortname
  var disqusPublicKey = "<%= config.disqus_api %>"; // 申请的公钥
  var urlArray = [];
  $('.disqus-comment-count').each(function () {
    var url = $(this).attr('data-disqus-url');
    urlArray.push('link:' + url);
  });
  $.ajax({
    type: 'GET',
    url: "https://disqus.com/api/3.0/threads/set.jsonp",
    data: { api_key: disqusPublicKey, forum : disqusShortName, thread : urlArray }, 
    cache: false,
    dataType: "jsonp",
    success: function (result) {
      for (var i in result.response) {
        var count = result.response[i].posts;
        if ( count ) {
          $('.disqus-comment-count[data-disqus-url="' + result.response[i].link + '"]').html(count);
        }
      }
    }
  });
</script>
<!-- ============================ END Content =========================== -->